<div class="wrap banner-inner">
	<div class="i"><img src="/images/slideshow/test.jpg" alt="" /></div>
</div>

<% content_for :body_content_left do %>
  <ul id="events">
    <% @events.each do |event| %>
      <li>
        <h2><%= link_to event.title, event_url(event) %></h2>
        <span><%= event.date_start.strftime("%m/%d/%Y %I:%M %p") %></span>
        <span> - </span>
        <span><%= event.date_end.strftime("%m/%d/%Y %I:%M %p") %></span>
        <div><%= raw(event.description) %></div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
