<div class="wrap banner-inner">
	<div class="i"><img src="/images/slideshow/test.jpg" alt="" /></div>
</div>

<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>

	<div class="i pad group">
		<%= render :partial => "/shared/sidebar" %>
		
		<div class="col col8 last">
			<% content_for :body_content_title do %>
			  <%= @event.title %>
			<% end %>
			
		<% content_for :body_content_left do %>
		  <section>
		    <h1>Title</h1>
		    <p>
		      <%=raw @event.title %>
		    </p>
		  </section>
		  <section>
		    <h1>Date Start</h1>
		    <p>
		      <%=raw @event.date_start %>
		    </p>
		  </section>
		  <section>
		    <h1>Date End</h1>
		    <p>
		      <%=raw @event.date_end %>
		    </p>
		  </section>
		  <section>
		    <h1>Location Name</h1>
		    <p>
		      <%=raw @event.location_name %>
		    </p>
		  </section>
		  <section>
		    <h1>Location Street Address</h1>
		    <p>
		      <%=raw @event.location_street_address %>
		    </p>
		  </section>
		  <section>
		    <h1>Location State</h1>
		    <p>
		      <%=raw @event.location_state %>
		    </p>
		  </section>
		  <section>
		    <h1>Location Zip</h1>
		    <p>
		      <%=raw @event.location_zip %>
		    </p>
		  </section>
		  <section>
		    <h1>Description</h1>
		    <p>
		      <%=raw @event.description %>
		    </p>
		  </section>
		<% end %>
		</div>

	<%= form_for(@attendee) do |f| %>
  	<% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <%= f.hidden_field :event_id, :value => @event.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="events">
      <% @events.each do |event| %>
        <li>
          <%= link_to event.title, event_url(event) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>

</div>
