<<<<<<< HEAD
<div class="wrap banner-inner">
	<div class="i"><img src="/images/slideshow/test.jpg" alt="" /></div>
</div>
=======


<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>
>>>>>>> efb77c1d4ff0fdadee7f621a8833051de1a2f8c3

<div class="wrap shadow-top inner">
	<div class="i pad group">
		<%= render :partial => "/shared/sidebar" %>
		
		<div class="col col8 last">
			<% content_for :body_content_title do %>
			  <%= @event.title %>
			<% end %>
			
			<% content_for :body_content_left do %>
			  <section>
			    <h1>Title</h1>
			    <p>
			      <%=raw @event.title %>
			    </p>
			  </section>
			  <section>
			    <h1>Date Start</h1>
			    <p>
			      <%=raw @event.date_start %>
			    </p>
			  </section>
			  <section>
			    <h1>Date End</h1>
			    <p>
			      <%=raw @event.date_end %>
			    </p>
			  </section>
			  <section>
			    <h1>Location Name</h1>
			    <p>
			      <%=raw @event.location_name %>
			    </p>
			  </section>
			  <section>
			    <h1>Location Street Address</h1>
			    <p>
			      <%=raw @event.location_street_address %>
			    </p>
			  </section>
			  <section>
			    <h1>Location State</h1>
			    <p>
			      <%=raw @event.location_state %>
			    </p>
			  </section>
			  <section>
			    <h1>Location Zip</h1>
			    <p>
			      <%=raw @event.location_zip %>
			    </p>
			  </section>
			  <section>
			    <h1>Description</h1>
			    <p>
			      <%=raw @event.description %>
			    </p>
			  </section>
			<% end %>
			
			<% content_for :body_content_right do %>
			  <aside>
			    <h2><%= t('.other') %></h2>
			    <ul id="events">
			      <% @events.each do |event| %>
			        <li>
			          <%= link_to event.title, event_url(event) %>
			        </li>
			      <% end %>
			    </ul>
			  </aside>
			<% end %>
		</div>
	</div>
</div>
