<%= form_for @person, :id => 'signup', :html => {:multipart => true} do |f| %>
			 
  <div class='field'>
    <%= f.label :first_name -%>
    <%= f.text_field :first_name, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :last_name -%>
    <%= f.text_field :last_name -%>
  </div>
  
  <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address -%>
  </div>
  
  <div class='field'>
    <%= f.label :city -%>
    <%= f.text_field :city -%>
  </div>
  
  <div class='field'>
    <%= f.label :state -%>
    <%= f.text_field :state -%>
  </div>
  
  <div class='field'>
    <%= f.label :zip -%>
    <%= f.text_field :zip -%>
  </div>
  
  <div class='field'>
    <%= f.label :newsletter -%>
    <%= f.check_box :newsletter -%>
  </div>
  
  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email -%>
  </div>
  
  <%= f.hidden_field :event_ids, :value => @event.id -%>
  
  <div class="actions">
    <%= f.submit :value => 'Send', :class => 'group'%>
  </div>
<% end %>
			
			
			
			
<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @event.title %>
    </p>
  </section>
  <section>
    <h1>Date Start</h1>
    <p>
      <%=raw @event.date_start %>
    </p>
  </section>
  <section>
    <h1>Date End</h1>
    <p>
      <%=raw @event.date_end %>
    </p>
  </section>
  <section>
    <h1>Location Name</h1>
    <p>
      <%=raw @event.location_name %>
    </p>
  </section>
  <section>
    <h1>Location Street Address</h1>
    <p>
      <%=raw @event.location_street_address %>
    </p>
  </section>
  <section>
    <h1>Location State</h1>
    <p>
      <%=raw @event.location_state %>
    </p>
  </section>
  <section>
    <h1>Location Zip</h1>
    <p>
      <%=raw @event.location_zip %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @event.description %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="events">
      <% @events.each do |event| %>
        <li>
          <%= link_to event.title, event_url(event) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
