<div class="wrap banner">
	<div class="banner">
		<div id="slideshow">
			<% @gallery.each do |slide| %>
				<div class="slide">
					<%= image_tag slide.url, :alt => slide.title, :height => '350px' %>	
					<div class="slide-info">
						<h2><%= slide[:home_title] %></h2>
						<p><%= slide[:home_description] %></p>
						<a href="<%= slide[:home_link] %>"><%= slide[:home_link_text] %></a>
					</div>
				</div>
			<% end %>
		<ul class="slide-nav-mini">
			<li class="prev ir"><a href="#prev">Previous</a></li>
			<li class="next ir"><a href="#next">Next</a></li>
		</ul>
	</div>
</div><!-- END: wrap banner -->

<div class="wrap shadow-top">
	<ol class="nav slide-nav-full">
		<!-- example > <li><a href="#slide">Slide 5</a></li> -->
	</ol>
</div>

<div class="wrap border">
	<div class="intro group">
		<div class="col col9">
			<h1>Our Mission</h1>
			<p>We foster partnerships for clean water and to improve fish and wildlife habitat and the quality of life for those who live, work and recreate in the watershed.</p>
		</div>
		
		<div class="col col3 last">
			<h2>Help Us <span>Restore</span> <span>Our River</span></h2>
			<a href="">Donate Now &raquo;</a>
		</div>
	</div>
</div>

<div class="i group pad social">
	<div class="col box-light twitter">
		<h3>Tweet, Tweet</h3>
		<a href="">Follow Us &raquo;</a>
	</div>
	
	<div class="col box-light events">
		<h3>Next Events</h3>
		<a href="">Learn More &amp; <abbr title="Request for Response">RSVP</abbr> &raquo;</a>
	</div>
	
	<div class="col box-spot blog last">
		<h3>From Our Blog</h3>
		<a href="">Read More &raquo;</a>
	</div>
</div>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js', 'jquery.cycle.min', 'homepage' %>
