<div class="wrap banner-inner">
	<div class="i"><img src="/images/slideshow/test.jpg" alt="" /></div>
</div>

<div class="wrap shadow-top inner">
	<div class="i pad group">		
		<%= render :partial => "/shared/sidebar" %>
		<%= render :partial => "/shared/content_page" %>
		<ul id="map" class="col">
			<% @labels.each do |label| %>
				<% idTitle = label.title.gsub(/\W/, '_').downcase %>
				<li id="<%= idTitle %>">
					<a><%=raw label.title %></a>
				</li>
			<% end %>
		</ul>
		<div id="map-info">
			<% @labels.each do |label| %>
				<% titleClass = label.title.gsub(/\W/, '_').downcase %>
				<div class="<%= titleClass %>">
					<h3><%=raw label.title %></h3>
					<%=raw label.description %>
				</div>
			<% end %>
		</div>
	</div>
</div>